table {
    border-collapse: collapse;
    width: 100%;
}
  
td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #a7a7fd;
}
tr:nth-child(odd) {
    background-color: #ffffff;
}
tr:nth-child(even):hover {
    background-color: #8888e2;
}
tr:nth-child(odd):hover {
    background-color: #f1efef;
}